
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');



* {
    margin: 0;
    box-sizing: border-box;

}
a {
    text-decoration: none;
    color: whitesmoke;
}
body {
   
    font-family: Poppins;
    max-width: 100%;
   
   
}
main {
    color: whitesmoke;
    background-image: url("./photos/space.jpeg");
    height: 100vh;
    background-size: cover;
    font-family: Poppins;
    
}
.welcome-message {
    text-align: center;
    position: relative;
    top: 30%;
    font-size: 4em;
    font-family: playfair;
    font-style: italic;
}
.navbar {
   
   position: relative;
   height: 5%;
   
   position: fixed;
   width: 100%;
   z-index: 3;
   align-items: center;
    
}
.nav-elements {
    display: flex;
    justify-content: flex-end;
    gap: 3em;
    position: relative;
    right: 3em;
    font-size: 1.25em;
    
    height: 100%;
    
    z-index: 3;
    align-items: center;

}
.about-me {
    display: flex;
    height: 700px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 5em;
    border-bottom: grey 3px solid;
}

.personal-image {
    height: 100%;
    width: auto;
   
    flex-shrink: 3;
    min-width: 0;
    

}
.about-me img {
    height: auto;
    border-radius: 50%;
    position: relative;
    top: 17%;
    min-width: 0;
    width: 100%;
    max-height: 65%;

    

}
.about-me-text{
    max-width: 50%;
    
}
.about-me-text h2 {
    font-weight: bold;
  
}
#name{
    font-weight: bold;
    text-decoration: underline;
}
.about-me-text p {
    margin-top: 1em;
    line-height: 1.8;
}

.projects{
    height: 700px;
    
}
/* makes the bounce to scroll down*/
.bounce {
    position: absolute;
    
    font-size: 2em;
   text-align: center;
    height:50px;
    width: 100%;
    color: whitesmoke;
    -webkit-animation:bounce 1s infinite;
    bottom: 0;
    -webkit-text-stroke: 0.6px gray;
  }
  
  @-webkit-keyframes bounce {
    0%       { bottom:5px; }
    25%, 75% { bottom:15px; }
    50%      { bottom:20px; }
    100%     {bottom:0;}
  }
  .skills {
    height: 700px;
    background-color: #6D7BBC;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(8, 1fr);
    column-gap: 20px;
   
}
 
  .skills img {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
  }
  .skills h2 {
      grid-area: 1/3/1/7;
      align-self: center;
      justify-self: center;
      font-size: 4em;
      color: whitesmoke;
  }

  
  .html5 {
    grid-area: 2/2/4/4;
    text-align: center;
    min-width: 0;
    

  }
  .css {
    grid-area: 2/4/4/6;
    text-align: center;
    min-width: 0;
  }
  .js{
    grid-area: 2/6/4/8;
    text-align: center;
    min-width: 0;
    
  }
.all-projects {
    text-align: center;
    margin-bottom: 20px;
}
.all-projects h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 5em;
   
}
.grid-projects {
      display: grid;
      margin: 0 auto;
      grid-template: 1fr / 1fr 1fr;
      width: 70%;
      gap: 20px;
  }
.projects {
    width: 80%;
    height: 600px;
    border: solid gray 4px;
    border-radius: 5%;
    display: grid;
    grid-template: 30% 5% 1fr 10% 10% / 1fr;
    justify-items: center;
    align-items: center;
    background-color: #6D7BBC;
    color: whitesmoke;
    justify-self: center;
    min-width: 400px;
    
}
.projects p {
    max-width: 70%;
    font-size: 1.2em;
}
.projects img {
    width: 80%;
    border-radius: 5%;
}
#project-link {
    height: auto;
    width: 10%;
    max-height: 100%;
}
.tech-used {
   font-size: 1.4em;
    display: flex;
    flex-direction: column;
    
}
#tech-used-text{
    display: flex;
    gap: 8px;
    font-weight: bold;
    font-size: 1rem;
}
.html-tech {
    color: #90ee90;
}
.css-tech{
    color: blue;
}
.js-tech {
    color: orange;
}
footer {
    background-color: #6D7BBC;
    height: auto;
    text-align: center;
    color: whitesmoke;
}
.email-img {
    height: 54px;
    width: auto;
   
   
    
}
.email {
   
    display: flex;
    justify-content: center;
  
   align-items: center;
    padding-top: 10px;
}
.email-text {
  
    font-size: 1.5em;
    text-decoration: underline;
   
}
 footer h4 {
     padding-top: 20px;
     font-size: 1.4em;
 }
 @media only screen and (max-width: 600px) {
    .welcome-message {
        text-align: center;
        position: relative;
        top: 30%;
        font-size: 2em;
        font-family: playfair;
        font-style: italic;
    }
    .nav-elements {
        display: flex;
        justify-content: center;
        
        position: relative;
        
        font-size: 1em;
        left: 0;
        height: 100%;
        
        z-index: 3;
        align-items: center;
    
    }
    .about-me {
        gap: 5%;
       
        padding-right: 40px;
            
    
    }
    .grid-projects {
        display: grid;
        margin: 0 auto;
        grid-template: 1fr / 1fr;
        width: 100%;
        row-gap: 20px;
    }

.projects {
    width: 80%;
    height: 600px;
    border: solid gray 4px;
    border-radius: 5%;
    display: grid;
    grid-template: 40% 5% 1fr 10% / 1fr;
    justify-items: center;
    align-items: center;
    background-color: #6D7BBC;
    color: whitesmoke;
    justify-self: center;
    min-width: 300px;
    
}
.projects p {
    max-width: 70%;
    font-size: 1em;
}
.projects img {
    width: 95%;
    border-radius: 5%;
}
.tech-used {
   font-size: 1.4em;
    display: flex;
    flex-direction: column;
    
}
#tech-used-text{
    display: flex;
    gap: 8px;
    font-weight: bold;
    font-size: 1rem;
}
    .bounce{
        font-size: 1.2em;
    }
    .skills {
        height: 350px;
    }
    footer h4 {
        font-size: 1em;
    }
 }
 @media only screen and (max-width: 400px) {
     .about-me-text{
         font-size: 0.8em;
     }

 }